<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navigation">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Population</title>

    <link rel="stylesheet" href="https://js.arcgis.com/4.26/esri/themes/light/main.css" />
    <script src="https://js.arcgis.com/4.26/"></script>

    <link rel="stylesheet" href="/style/style.css">
    <script src="/javascript/population.js"></script>

</head>
<body>

<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-6">
                <h5 id="title">pop</h5>
            </div>
            <div class="col-6">
                <select id="symbologySelect" class="esri-widget esri-select">
                    <option value="no-criteria">Select Symbology Criteria</option>
                    <option value="pop04">population 2004</option>
                    <option value="pop94">population 1994</option>
                    <option value="pop-evo">population 1994/2004</option>
                </select>
            </div>

        </div>
        <div id="viewDiv" class="border shadow-lg"
             style="height: 100vh;width: 100%;">
        </div>
    </div>
</div>


</body>
</html>
